@import 'nib/vendor'
@import "./pure-min.css"
@import "./side-menu.css"
@import '../node_modules/derby-flash'

.connection
  position: absolute
  text-align: center
  top: 0
  left: 0
  width: 100%
  height: 0
  z-index: 99
.connection > .alert
  background: #fff1a8
  border: 1px solid #999
  border-top: 0
  border-radius: 0 0 3px 3px
  display: inline-block
  line-height: 21px
  padding: 0 12px

.header h2
  transform scale(-1, 1)
  font-weight 100

.pull-right
  float right

.smaller
  font-size 11px

.italic
  font-style italic

.gray
  color #777
  text-decoration none
  
pre
  font-size: 12px;
  font-family: Consolas, monospace;
  background: #fafafa;
  padding: 1em;
  border-radius: 5px;
  border: solid 1px #DDD;
